# Hypothesis testing Exercise

### Q1)  A F&B manager wants to determine whether there is any
### significant difference in the diameter of the cutlet between two
### units. A randomly selected sample of cutlets was collected from
### both units and measured? Analyze the data and draw inferences
### at 5% significance level. Please state the assumptions and tests
### that you carried out to check validity of the assumptions.

In [1]:
import pandas as pd
import numpy as np
from scipy import stats

In [2]:
ls

 Volume in drive C is OS
 Volume Serial Number is 662D-09A6

 Directory of C:\Users\Vaibhav Kinge

09/18/2022  10:05    <DIR>          .
09/18/2022  10:05    <DIR>          ..
08/11/2022  13:18    <DIR>          .anaconda
08/11/2022  14:12    <DIR>          .conda
08/12/2022  16:49                42 .condarc
08/11/2022  13:12    <DIR>          .continuum
05/08/2019  22:59    <DIR>          .eclipse
09/17/2022  14:48    <DIR>          .ipynb_checkpoints
08/11/2022  09:14    <DIR>          .ipython
08/16/2022  13:51    <DIR>          .jupyter
11/22/2019  11:02    <DIR>          .m2
08/11/2022  09:18    <DIR>          .matplotlib
11/14/2021  15:02    <DIR>          .p2
08/12/2022  10:56    <DIR>          .spyder-py3
09/03/2022  11:15    <DIR>          .streamlit
05/08/2019  22:57    <DIR>          .tooling
02/08/2022  13:23    <DIR>          .vscode
06/25/2021  11:14    <DIR>          3D Objects
11/17/2021  22:12               563 acceptance_letter.txt
09/16/2022  14:57           170,988 Basic Statistics 1.ipynb
09/17/2022  14:24            62,970 Basic_ Statistics level 2.ipynb
06/25/2021  11:14    <DIR>          Contacts
09/12/2022  17:37    <DIR>          Desktop
08/16/2022  12:10    <DIR>          Documents
09/17/2022  14:55    <DIR>          Downloads
11/22/2019  11:04    <DIR>          eclipse-workspace
06/25/2021  11:14    <DIR>          Favorites
02/09/2022  14:37    <DIR>          getting-started
09/18/2022  10:05             8,447 Hypothesis Testing.ipynb
08/12/2022  10:35    <DIR>          Jedi
06/25/2021  11:14    <DIR>          Links
06/25/2021  11:14    <DIR>          Music
02/09/2022  15:45    <DIR>          nodeDemo
09/04/2022  06:38    <DIR>          OneDrive
02/09/2022  15:11                92 package-lock.json
12/05/2021  08:08    <DIR>          Pictures
08/05/2022  22:43    <DIR>          PycharmProjects
06/25/2021  11:14    <DIR>          Saved Games
06/25/2021  11:14    <DIR>          Searches
09/05/2022  11:18                 0 untitled
08/11/2022  09:15               905 Untitled.ipynb
09/05/2022  11:16                 0 untitled.txt
09/17/2022  13:15                 0 untitled1
08/11/2022  11:52             2,143 Untitled1.ipynb
08/11/2022  12:00             1,842 Untitled2.ipynb
08/16/2022  14:32             4,471 Untitled3.ipynb
08/16/2022  14:19               589 Untitled4.ipynb
08/17/2022  09:20               830 Untitled5.ipynb
09/05/2022  11:41               589 Untitled6.ipynb
06/25/2021  11:14    <DIR>          Videos
              16 File(s)        254,471 bytes
              34 Dir(s)  348,999,180,288 bytes free

In [3]:
help(pd.read_csv)

Help on function read_csv in module pandas.io.parsers.readers:

read_csv(filepath_or_buffer: 'FilePath | ReadCsvBuffer[bytes] | ReadCsvBuffer[str]', sep=<no_default>, delimiter=None, header='infer', names=<no_default>, index_col=None, usecols=None, squeeze=None, prefix=<no_default>, mangle_dupe_cols=True, dtype: 'DtypeArg | None' = None, engine: 'CSVEngine | None' = None, converters=None, true_values=None, false_values=None, skipinitialspace=False, skiprows=None, skipfooter=0, nrows=None, na_values=None, keep_default_na=True, na_filter=True, verbose=False, skip_blank_lines=True, parse_dates=None, infer_datetime_format=False, keep_date_col=False, date_parser=None, dayfirst=False, cache_dates=True, iterator=False, chunksize=None, compression: 'CompressionOptions' = 'infer', thousands=None, decimal: 'str' = '.', lineterminator=None, quotechar='"', quoting=0, doublequote=True, escapechar=None, comment=None, encoding=None, encoding_errors: 'str | None' = 'strict', dialect=None, error_bad_lines=None, warn_bad_lines=None, on_bad_lines=None, delim_whitespace=False, low_memory=True, memory_map=False, float_precision=None, storage_options: 'StorageOptions' = None)
    Read a comma-separated values (csv) file into DataFrame.

    Also supports optionally iterating or breaking of the file
    into chunks.

    Additional help can be found in the online docs for
    `IO Tools <https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html>`_.

    Parameters
    ----------
    filepath_or_buffer : str, path object or file-like object
        Any valid string path is acceptable. The string could be a URL. Valid
        URL schemes include http, ftp, s3, gs, and file. For file URLs, a host is
        expected. A local file could be: file://localhost/path/to/table.csv.

        If you want to pass in a path object, pandas accepts any ``os.PathLike``.

        By file-like object, we refer to objects with a ``read()`` method, such as
        a file handle (e.g. via builtin ``open`` function) or ``StringIO``.
    sep : str, default ','
        Delimiter to use. If sep is None, the C engine cannot automatically detect
        the separator, but the Python parsing engine can, meaning the latter will
        be used and automatically detect the separator by Python's builtin sniffer
        tool, ``csv.Sniffer``. In addition, separators longer than 1 character and
        different from ``'\s+'`` will be interpreted as regular expressions and
        will also force the use of the Python parsing engine. Note that regex
        delimiters are prone to ignoring quoted data. Regex example: ``'\r\t'``.
    delimiter : str, default ``None``
        Alias for sep.
    header : int, list of int, None, default 'infer'
        Row number(s) to use as the column names, and the start of the
        data.  Default behavior is to infer the column names: if no names
        are passed the behavior is identical to ``header=0`` and column
        names are inferred from the first line of the file, if column
        names are passed explicitly then the behavior is identical to
        ``header=None``. Explicitly pass ``header=0`` to be able to
        replace existing names. The header can be a list of integers that
        specify row locations for a multi-index on the columns
        e.g. [0,1,3]. Intervening rows that are not specified will be
        skipped (e.g. 2 in this example is skipped). Note that this
        parameter ignores commented lines and empty lines if
        ``skip_blank_lines=True``, so ``header=0`` denotes the first line of
        data rather than the first line of the file.
    names : array-like, optional
        List of column names to use. If the file contains a header row,
        then you should explicitly pass ``header=0`` to override the column names.
        Duplicates in this list are not allowed.
    index_col : int, str, sequence of int / str, or False, optional, default ``None``
      Column(s) to use as the row labels of the ``DataFrame``, either given as
      string name or column index. If a sequence of int / str is given, a
      MultiIndex is used.

      Note: ``index_col=False`` can be used to force pandas to *not* use the first
      column as the index, e.g. when you have a malformed file with delimiters at
      the end of each line.
    usecols : list-like or callable, optional
        Return a subset of the columns. If list-like, all elements must either
        be positional (i.e. integer indices into the document columns) or strings
        that correspond to column names provided either by the user in `names` or
        inferred from the document header row(s). If ``names`` are given, the document
        header row(s) are not taken into account. For example, a valid list-like
        `usecols` parameter would be ``[0, 1, 2]`` or ``['foo', 'bar', 'baz']``.
        Element order is ignored, so ``usecols=[0, 1]`` is the same as ``[1, 0]``.
        To instantiate a DataFrame from ``data`` with element order preserved use
        ``pd.read_csv(data, usecols=['foo', 'bar'])[['foo', 'bar']]`` for columns
        in ``['foo', 'bar']`` order or
        ``pd.read_csv(data, usecols=['foo', 'bar'])[['bar', 'foo']]``
        for ``['bar', 'foo']`` order.

        If callable, the callable function will be evaluated against the column
        names, returning names where the callable function evaluates to True. An
        example of a valid callable argument would be ``lambda x: x.upper() in
        ['AAA', 'BBB', 'DDD']``. Using this parameter results in much faster
        parsing time and lower memory usage.
    squeeze : bool, default False
        If the parsed data only contains one column then return a Series.

        .. deprecated:: 1.4.0
            Append ``.squeeze("columns")`` to the call to ``read_csv`` to squeeze
            the data.
    prefix : str, optional
        Prefix to add to column numbers when no header, e.g. 'X' for X0, X1, ...

        .. deprecated:: 1.4.0
           Use a list comprehension on the DataFrame's columns after calling ``read_csv``.
    mangle_dupe_cols : bool, default True
        Duplicate columns will be specified as 'X', 'X.1', ...'X.N', rather than
        'X'...'X'. Passing in False will cause data to be overwritten if there
        are duplicate names in the columns.
    dtype : Type name or dict of column -> type, optional
        Data type for data or columns. E.g. {'a': np.float64, 'b': np.int32,
        'c': 'Int64'}
        Use `str` or `object` together with suitable `na_values` settings
        to preserve and not interpret dtype.
        If converters are specified, they will be applied INSTEAD
        of dtype conversion.
    engine : {'c', 'python', 'pyarrow'}, optional
        Parser engine to use. The C and pyarrow engines are faster, while the python engine
        is currently more feature-complete. Multithreading is currently only supported by
        the pyarrow engine.

        .. versionadded:: 1.4.0

            The "pyarrow" engine was added as an *experimental* engine, and some features
            are unsupported, or may not work correctly, with this engine.
    converters : dict, optional
        Dict of functions for converting values in certain columns. Keys can either
        be integers or column labels.
    true_values : list, optional
        Values to consider as True.
    false_values : list, optional
        Values to consider as False.
    skipinitialspace : bool, default False
        Skip spaces after delimiter.
    skiprows : list-like, int or callable, optional
        Line numbers to skip (0-indexed) or number of lines to skip (int)
        at the start of the file.

        If callable, the callable function will be evaluated against the row
        indices, returning True if the row should be skipped and False otherwise.
        An example of a valid callable argument would be ``lambda x: x in [0, 2]``.
    skipfooter : int, default 0
        Number of lines at bottom of file to skip (Unsupported with engine='c').
    nrows : int, optional
        Number of rows of file to read. Useful for reading pieces of large files.
    na_values : scalar, str, list-like, or dict, optional
        Additional strings to recognize as NA/NaN. If dict passed, specific
        per-column NA values.  By default the following values are interpreted as
        NaN: '', '#N/A', '#N/A N/A', '#NA', '-1.#IND', '-1.#QNAN', '-NaN', '-nan',
        '1.#IND', '1.#QNAN', '<NA>', 'N/A', 'NA', 'NULL', 'NaN', 'n/a',
        'nan', 'null'.
    keep_default_na : bool, default True
        Whether or not to include the default NaN values when parsing the data.
        Depending on whether `na_values` is passed in, the behavior is as follows:

        * If `keep_default_na` is True, and `na_values` are specified, `na_values`
          is appended to the default NaN values used for parsing.
        * If `keep_default_na` is True, and `na_values` are not specified, only
          the default NaN values are used for parsing.
        * If `keep_default_na` is False, and `na_values` are specified, only
          the NaN values specified `na_values` are used for parsing.
        * If `keep_default_na` is False, and `na_values` are not specified, no
          strings will be parsed as NaN.

        Note that if `na_filter` is passed in as False, the `keep_default_na` and
        `na_values` parameters will be ignored.
    na_filter : bool, default True
        Detect missing value markers (empty strings and the value of na_values). In
        data without any NAs, passing na_filter=False can improve the performance
        of reading a large file.
    verbose : bool, default False
        Indicate number of NA values placed in non-numeric columns.
    skip_blank_lines : bool, default True
        If True, skip over blank lines rather than interpreting as NaN values.
    parse_dates : bool or list of int or names or list of lists or dict, default False
        The behavior is as follows:

        * boolean. If True -> try parsing the index.
        * list of int or names. e.g. If [1, 2, 3] -> try parsing columns 1, 2, 3
          each as a separate date column.
        * list of lists. e.g.  If [[1, 3]] -> combine columns 1 and 3 and parse as
          a single date column.
        * dict, e.g. {'foo' : [1, 3]} -> parse columns 1, 3 as date and call
          result 'foo'

        If a column or index cannot be represented as an array of datetimes,
        say because of an unparsable value or a mixture of timezones, the column
        or index will be returned unaltered as an object data type. For
        non-standard datetime parsing, use ``pd.to_datetime`` after
        ``pd.read_csv``. To parse an index or column with a mixture of timezones,
        specify ``date_parser`` to be a partially-applied
        :func:`pandas.to_datetime` with ``utc=True``. See
        :ref:`io.csv.mixed_timezones` for more.

        Note: A fast-path exists for iso8601-formatted dates.
    infer_datetime_format : bool, default False
        If True and `parse_dates` is enabled, pandas will attempt to infer the
        format of the datetime strings in the columns, and if it can be inferred,
        switch to a faster method of parsing them. In some cases this can increase
        the parsing speed by 5-10x.
    keep_date_col : bool, default False
        If True and `parse_dates` specifies combining multiple columns then
        keep the original columns.
    date_parser : function, optional
        Function to use for converting a sequence of string columns to an array of
        datetime instances. The default uses ``dateutil.parser.parser`` to do the
        conversion. Pandas will try to call `date_parser` in three different ways,
        advancing to the next if an exception occurs: 1) Pass one or more arrays
        (as defined by `parse_dates`) as arguments; 2) concatenate (row-wise) the
        string values from the columns defined by `parse_dates` into a single array
        and pass that; and 3) call `date_parser` once for each row using one or
        more strings (corresponding to the columns defined by `parse_dates`) as
        arguments.
    dayfirst : bool, default False
        DD/MM format dates, international and European format.
    cache_dates : bool, default True
        If True, use a cache of unique, converted dates to apply the datetime
        conversion. May produce significant speed-up when parsing duplicate
        date strings, especially ones with timezone offsets.

        .. versionadded:: 0.25.0
    iterator : bool, default False
        Return TextFileReader object for iteration or getting chunks with
        ``get_chunk()``.

        .. versionchanged:: 1.2

           ``TextFileReader`` is a context manager.
    chunksize : int, optional
        Return TextFileReader object for iteration.
        See the `IO Tools docs
        <https://pandas.pydata.org/pandas-docs/stable/io.html#io-chunking>`_
        for more information on ``iterator`` and ``chunksize``.

        .. versionchanged:: 1.2

           ``TextFileReader`` is a context manager.
    compression : str or dict, default 'infer'
        For on-the-fly decompression of on-disk data. If 'infer' and '%s' is
        path-like, then detect compression from the following extensions: '.gz',
        '.bz2', '.zip', '.xz', or '.zst' (otherwise no compression). If using
        'zip', the ZIP file must contain only one data file to be read in. Set to
        ``None`` for no decompression. Can also be a dict with key ``'method'`` set
        to one of {``'zip'``, ``'gzip'``, ``'bz2'``, ``'zstd'``} and other
        key-value pairs are forwarded to ``zipfile.ZipFile``, ``gzip.GzipFile``,
        ``bz2.BZ2File``, or ``zstandard.ZstdDecompressor``, respectively. As an
        example, the following could be passed for Zstandard decompression using a
        custom compression dictionary:
        ``compression={'method': 'zstd', 'dict_data': my_compression_dict}``.

        .. versionchanged:: 1.4.0 Zstandard support.

    thousands : str, optional
        Thousands separator.
    decimal : str, default '.'
        Character to recognize as decimal point (e.g. use ',' for European data).
    lineterminator : str (length 1), optional
        Character to break file into lines. Only valid with C parser.
    quotechar : str (length 1), optional
        The character used to denote the start and end of a quoted item. Quoted
        items can include the delimiter and it will be ignored.
    quoting : int or csv.QUOTE_* instance, default 0
        Control field quoting behavior per ``csv.QUOTE_*`` constants. Use one of
        QUOTE_MINIMAL (0), QUOTE_ALL (1), QUOTE_NONNUMERIC (2) or QUOTE_NONE (3).
    doublequote : bool, default ``True``
       When quotechar is specified and quoting is not ``QUOTE_NONE``, indicate
       whether or not to interpret two consecutive quotechar elements INSIDE a
       field as a single ``quotechar`` element.
    escapechar : str (length 1), optional
        One-character string used to escape other characters.
    comment : str, optional
        Indicates remainder of line should not be parsed. If found at the beginning
        of a line, the line will be ignored altogether. This parameter must be a
        single character. Like empty lines (as long as ``skip_blank_lines=True``),
        fully commented lines are ignored by the parameter `header` but not by
        `skiprows`. For example, if ``comment='#'``, parsing
        ``#empty\na,b,c\n1,2,3`` with ``header=0`` will result in 'a,b,c' being
        treated as the header.
    encoding : str, optional
        Encoding to use for UTF when reading/writing (ex. 'utf-8'). `List of Python
        standard encodings
        <https://docs.python.org/3/library/codecs.html#standard-encodings>`_ .

        .. versionchanged:: 1.2

           When ``encoding`` is ``None``, ``errors="replace"`` is passed to
           ``open()``. Otherwise, ``errors="strict"`` is passed to ``open()``.
           This behavior was previously only the case for ``engine="python"``.

        .. versionchanged:: 1.3.0

           ``encoding_errors`` is a new argument. ``encoding`` has no longer an
           influence on how encoding errors are handled.

    encoding_errors : str, optional, default "strict"
        How encoding errors are treated. `List of possible values
        <https://docs.python.org/3/library/codecs.html#error-handlers>`_ .

        .. versionadded:: 1.3.0

    dialect : str or csv.Dialect, optional
        If provided, this parameter will override values (default or not) for the
        following parameters: `delimiter`, `doublequote`, `escapechar`,
        `skipinitialspace`, `quotechar`, and `quoting`. If it is necessary to
        override values, a ParserWarning will be issued. See csv.Dialect
        documentation for more details.
    error_bad_lines : bool, optional, default ``None``
        Lines with too many fields (e.g. a csv line with too many commas) will by
        default cause an exception to be raised, and no DataFrame will be returned.
        If False, then these "bad lines" will be dropped from the DataFrame that is
        returned.

        .. deprecated:: 1.3.0
           The ``on_bad_lines`` parameter should be used instead to specify behavior upon
           encountering a bad line instead.
    warn_bad_lines : bool, optional, default ``None``
        If error_bad_lines is False, and warn_bad_lines is True, a warning for each
        "bad line" will be output.

        .. deprecated:: 1.3.0
           The ``on_bad_lines`` parameter should be used instead to specify behavior upon
           encountering a bad line instead.
    on_bad_lines : {'error', 'warn', 'skip'} or callable, default 'error'
        Specifies what to do upon encountering a bad line (a line with too many fields).
        Allowed values are :

            - 'error', raise an Exception when a bad line is encountered.
            - 'warn', raise a warning when a bad line is encountered and skip that line.
            - 'skip', skip bad lines without raising or warning when they are encountered.

        .. versionadded:: 1.3.0

            - callable, function with signature
              ``(bad_line: list[str]) -> list[str] | None`` that will process a single
              bad line. ``bad_line`` is a list of strings split by the ``sep``.
              If the function returns ``None``, the bad line will be ignored.
              If the function returns a new list of strings with more elements than
              expected, a ``ParserWarning`` will be emitted while dropping extra elements.
              Only supported when ``engine="python"``

        .. versionadded:: 1.4.0

    delim_whitespace : bool, default False
        Specifies whether or not whitespace (e.g. ``' '`` or ``'    '``) will be
        used as the sep. Equivalent to setting ``sep='\s+'``. If this option
        is set to True, nothing should be passed in for the ``delimiter``
        parameter.
    low_memory : bool, default True
        Internally process the file in chunks, resulting in lower memory use
        while parsing, but possibly mixed type inference.  To ensure no mixed
        types either set False, or specify the type with the `dtype` parameter.
        Note that the entire file is read into a single DataFrame regardless,
        use the `chunksize` or `iterator` parameter to return the data in chunks.
        (Only valid with C parser).
    memory_map : bool, default False
        If a filepath is provided for `filepath_or_buffer`, map the file object
        directly onto memory and access the data directly from there. Using this
        option can improve performance because there is no longer any I/O overhead.
    float_precision : str, optional
        Specifies which converter the C engine should use for floating-point

In [4]:
Cutlets = pd.read_csv('D:\Hypothesis CSV assignment\Cutlets.csv')

In [5]:
Cutlets

    Unit A  Unit B
0   6.8090  6.7703
1   6.4376  7.5093
2   6.9157  6.7300
3   7.3012  6.7878
4   7.4488  7.1522
5   7.3871  6.8110
6   6.8755  7.2212
7   7.0621  6.6606
8   6.6840  7.2402
9   6.8236  7.0503
10  7.3930  6.8810
11  7.5169  7.4059
12  6.9246  6.7652
13  6.9256  6.0380
14  6.5797  7.1581
15  6.8394  7.0240
16  6.5970  6.6672
17  7.2705  7.4314
18  7.2828  7.3070
19  7.3495  6.7478
20  6.9438  6.8889
21  7.1560  7.4220
22  6.5341  6.5217
23  7.2854  7.1688
24  6.9952  6.7594
25  6.8568  6.9399
26  7.2163  7.0133
27  6.6801  6.9182
28  6.9431  6.3346
29  7.0852  7.5459
30  6.7794  7.0992
31  7.2783  7.1180
32  7.1561  6.6965
33  7.3943  6.5780
34  6.9405  7.3875

#### Hypothesis Formulation

H0: There is no significant difference in diameter of the cutlet between two units.# u1 = u2
Ha: There is a significant difference in diameter of the cutlet between two units.#u1 != u2 #### Level of signficance = 5%
##### 2 sample independent T test

In [6]:
t_val,p_val = stats.ttest_ind(a = Cutlets['Unit A'], b = Cutlets['Unit B'])
t_val,p_val

(0.7228688704678063, 0.4722394724599501)

In [7]:
p_val = p_val/2
p_val

0.23611973622997506

In [8]:
if p_val<0.05:
    print('we reject the null hypothesis and we can say that there is a significant difference in diameter of the cutlets between two units')
else:
    print('we do not reject the null hypothesis and we can say that there is no signficant difference in diameter of the cutlets between two units')

we do not reject the null hypothesis and we can say that there is no signficant difference in diameter of the cutlets between two units

### Q2) A hospital wants to determine whether there is any
### difference in the average Turn Around Time (TAT) of reports
### of the laboratories on their preferred list. They collected a
### random sample and recorded TAT for reports of 4
### laboratories. TAT is defined as sample collected to report
### dispatch.

### Analyze the data and determine whether there is any
### difference in average TAT among the different laboratories
### at 5% significance level.

In [9]:
LabTAT = pd.read_csv('D:\Hypothesis CSV assignment\LabTAT.csv')

In [10]:
LabTAT

     Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0          185.35        165.53        176.70        166.13
1          170.49        185.91        198.45        160.79
2          192.77        194.92        201.23        185.18
3          177.33        183.00        199.61        176.42
4          193.41        169.57        204.63        152.60
..            ...           ...           ...           ...
115        178.49        170.66        193.80        172.68
116        176.08        183.98        215.25        177.64
117        202.48        174.54        203.99        170.27
118        182.40        197.18        194.52        150.87
119        182.09        215.17        221.49        162.21

[120 rows x 4 columns]

#### Hypothesis Formulation:

H0: All the average TAT of reports of the laboratories are equal.
Ha: At least one average TAT of reports of laboratories is different.#### Level of significance = 5% #### We perform ANOVA Test.

In [11]:
statistics,p_val = stats.f_oneway(LabTAT['Laboratory 1'],LabTAT['Laboratory 2'],LabTAT['Laboratory 3'],LabTAT['Laboratory 4'])
statistics,p_val

(118.70421654401437, 2.1156708949992414e-57)

In [12]:
if p_val<0.05:
    print('We reject the null hypothesis and we can say that there is signficant difference in average TAT of reports of the laboratories.')
else:
    print('We do not reject the null hypothesis and we can say that there is no signficant difference in average TAT of reports of the laboratories.')

We reject the null hypothesis and we can say that there is signficant difference in average TAT of reports of the laboratories.

### Q3) Sales of products in four different regions is tabulated for males and females.
### Find if male-female buyer rations are similar across regions.

In [13]:
BuyerRatio = pd.read_csv('D:\Hypothesis CSV assignment\BuyerRatio.csv')

In [14]:
BuyerRatio

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

#### Hypothesis Formulation

H0:All proportions are equal.
Ha: Not all proportion are equal. #### Level of signficance = 5% (Considered as 5% as level of signficance is not mentioned)
We perform Chi-squared Test

In [15]:
del BuyerRatio['Observed Values']

In [16]:
BuyerRatio

   East  West  North  South
0    50   142    131     70
1   435  1523   1356    750

In [17]:
stats.chi2_contingency(observed = BuyerRatio)

(1.595945538661058,
 0.6603094907091882,
 3,
 array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
        [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]]))

In [18]:
chi2_score,p_val,dof,expected = stats.chi2_contingency(observed = BuyerRatio)
print('***************************************************')
print('CHI-SQAURE TEST RESULTS')
print('CHI2 Value           :',chi2_score)
print('P-value              :',p_val)
print('Degree of Freedom    :',dof)
print('Expected Table       :\n',expected)
print('***************************************************')

***************************************************
CHI-SQAURE TEST RESULTS
CHI2 Value           : 1.595945538661058
P-value              : 0.6603094907091882
Degree of Freedom    : 3
Expected Table       :
 [[  42.76531299  146.81287862  131.11756787   72.30424052]
 [ 442.23468701 1518.18712138 1355.88243213  747.69575948]]
***************************************************

In [20]:
if p_val<0.05:
    print('We reject the null hypothesis and we can say that Not all proportion are equal.')
else:
    print('We do not reject the null hypothesis and we can say that all proportion are equal.')

We do not reject the null hypothesis and we can say that all proportion are equal.

### Q4) TeleCall uses 4 centers around the globe to process
### customer order forms. They audit a certain % of the
### customer order forms. Any error in order form
### renders it defective and has to be reworked before
### processing. The manager wants to check whether the
### defective % varies by centre. Please analyze the data
### at 5% significance level and help the manager draw
### appropriate inferences.

In [21]:
Customer = pd.read_csv('D:\Hypothesis CSV assignment\Costomer+OrderForm.csv')

In [22]:
Customer

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [24]:
Customer.Phillippines.value_counts()

Error Free    271
Defective      29
Name: Phillippines, dtype: int64

In [25]:
Customer.Indonesia.value_counts()

Error Free    267
Defective      33
Name: Indonesia, dtype: int64

In [26]:
Customer.India.value_counts()

Error Free    280
Defective      20
Name: India, dtype: int64

In [27]:
Customer_values = pd.DataFrame({'Phillippines':[271,29],'Indonesia':[267,33],'Malta':[269,31],'India':[280,20]})
Customer_values

   Phillippines  Indonesia  Malta  India
0           271        267    269    280
1            29         33     31     20

#### Hypothesis Formulation:

H0: The defective percentage does not varies significantly by centre.
Ha: The defective percentage does varies significantly by centre. ##### Level of signficance = 5% #### We perform Chi-squared Test.

In [28]:
stats.chi2_contingency(observed = Customer_values)

(3.858960685820355,
 0.2771020991233135,
 3,
 array([[271.75, 271.75, 271.75, 271.75],
        [ 28.25,  28.25,  28.25,  28.25]]))

In [29]:
chi2_score,p_val,dof,expected = stats.chi2_contingency(observed = Customer_values)
print('***************************************************')
print('CHI-SQAURE TEST RESULTS')
print('CHI2 Value           :',chi2_score)
print('P-value              :',p_val)
print('Degree of Freedom    :',dof)
print('Expected Table       :\n',expected)
print('***************************************************')

***************************************************
CHI-SQAURE TEST RESULTS
CHI2 Value           : 3.858960685820355
P-value              : 0.2771020991233135
Degree of Freedom    : 3
Expected Table       :
 [[271.75 271.75 271.75 271.75]
 [ 28.25  28.25  28.25  28.25]]
***************************************************

In [30]:
if p_val<0.05:
    print('We reject the null hypothesis and we can say that the defective percentage does not varies significantly by centre.')
else:
    print('We do not reject the null hypothesis and we can say that the defective percentage does not varies significanly by centre.')

We do not reject the null hypothesis and we can say that the defective percentage does not varies significanly by centre.

=======================================================END=====================================================================